/* .left{
    box-shadow: 5px 10px 8px #888888;
}

.container{
    background-color: #888888;

} */

.row{
    margin-top: 100px;
}

#left {
    background-color: aqua;
    margin:0px;
    padding: 0px;
}

